<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="consoleName">Console</Property>
        <Property name="logFormat">[%magenta{%d{dd/MM/yyyy HH:mm:ss.SSS}}] [%white{%pid}] [%blue{%thread:%tid}] [%highlight{%-5level}{FATAL=bright red, ERROR=red, WARN=bright yellow, INFO=green, DEBUG=bright magenta, TRACE=cyan}] %style{%C{1.}.%M}{normal,cyan} :: %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="${consoleName}" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="${logFormat}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="${consoleName}"/>
        </Root>
    </Loggers>
</Configuration>